footer {
    background-color: var(--color-primary-2);
}

#footer_items {
    display: inline-block;
    width: 100%;
    justify-content: space-between;
    padding: 0px 8% 24px 8%;
    align-items: center;
}

#copyright {
    color: var(--color-neutral-1);
    font-weight: 500;
}