header { 
    width: 100%; 
    padding: 24px 8%;
    position: sticky;
    top: 0;
    background-color: #ffffff;
    z-index: 3;
}

#navbar { 
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

#navlogo { 
    font-size: 24px;
    color: var(--color-primary-6);
    font-weight: 600;
}

#navlist { 
    display: flex;
    list-style: none;
    gap: 48px;
    position: relative;
}

.navitem a { 
    text-decoration: none;
    color: #1d1d1dad;
    font-weight: 600;
    position: relative;
    transition: color 0.3s ease-in-out;
}

.navitem a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 3px;
    background-color: var(--color-primary-4);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-in-out;
}

.navitem a:hover::after,
.navitem.active a::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.navitem.active a {
    color: var(--color-primary-6);
}

#menu_btn { 
    display: none;
}

#mobile_menu { 
    display: none;
    flex-direction: column;
    justify-content: center;   
    background-color: #fff;
    position: absolute;
    top: 80px;
    width: 100%;
    left: 0;
    padding: 20px;
}

#mobile_menu.active {
  display: flex;
}

@media screen and (max-width: 1170px) {
    #navlist, #navbar .btn-default { 
        display: none;
    }

    #mobile_btn { 
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;
        color: var(--color-primary-6);
    }

    #mobile_menu.active {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #mobile_menu ul {
      list-style: none;
     text-align: center;
    padding: 0;
    }

     #mobilenavlist {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 12px 0px;
    }

    #mobilenavlist .navitem {
        list-style: none;
        text-align: center;
    } 

}
