#home { 
    display: flex;
    min-height: calc(100vh - 91px);
    position: relative;
}

#cta { 
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 5%;
}

#cta .title { 
    font-size: 4rem;
    color: var(--color-neutral-1);
}

#cta .title span { 
    color: var(--color-primary-6);
}

#cta .description { 
    font-size: 1.25rem;
}

#cta_buttons { 
    display: flex;
    gap: 24px;
    text-decoration: none;
}

#cta_buttons a { 
    text-decoration: none;
    color: var(--color-neutral-1);
}

#phone_button { 
    display: flex;
    gap: 8px ;
    align-items: center;
    background-color: #ffffff;
    padding: 8px 14px;
    font-weight: 500;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    text-decoration: none;
    transition: background-color .3s ease
}


.shape {  
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
}

@media screen and (max-width: 1200px) {

    #home { 
        min-height: 100%;
        padding-top: 0px;
    }

    #banner, #banner img , #home .shape { 
        display: block;
        
    }

    #cta { 
        width: 100%; 
        text-align: center;
        align-items: center;
    }
}

@media (max-width: 768px) {
  #nav_list {
    display: none; 
  }

  #mobile_btn {
    display: block;
    text-align: center;
  }
}