@media screen and (max-width: 1200px) {
    #home {
        min-height: 100%;
        padding-top: 0px;
    }

    #banner,
    #banner img,
    #home .shape {
        display: block;
    }

    #cta {
        width: 100%;
        text-align: center;
        align-items: center;
    }
}

@media (max-width: 768px) {
    #nav_list {
        display: none;
    }

    #mobile_btn {
        display: block;
        text-align: center;
    }

    #testimonials {
        flex-direction: column;
    }

    #testimonials .section-subtitle {
        text-align: center;
        font-size: 2.5rem;
    }

    #testimonial_chef {
        width: 100%;
        max-width: 300px;
    }

    #testimonials_content {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 600px) {
    #testimonials .section-subtitle {
        font-size: 2rem;
    }

    #testimonials_content {
        width: 100%;
    }

    .feedback {
        flex-direction: column;
    }

    #footer_items {
        flex-direction: column;
        gap: 20px;
    }
}
